---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<h3 class="archive__item-title" itemprop="headline"> 
Department of Epidemiology and Biostatistics, University of Maryland College Park
  </h3>

<ul style="list-style-type:disc">
  <li> Instructor, EPIB 664 Missing Data Analysis, Fall 2019 <a href="/files/syllabus/EPIB664_MDA_Fall2019_syllabus.pdf">[syllabus]</a> </li>
  <li> Instructor, EPIB 661 Applied Multivariate Data Analysis, Spring 2019 <a href="/files/syllabus/EPIB661_applied_multivariate_analysis_syllabus_20190119.pdf">[syllabus]</a> </li>
</ul>


<h3 class="archive__item-title" itemprop="headline"> 
Department of Biostatistics, University of Pittsburgh
  </h3>

<ul style="list-style-type:disc">
  <li> Instructor (with Zhiguang Huo), BIOST2094: Advanced R Computing, Spring 2017 <a href="/files/syllabus/BIOST2094_Syllabus_20170105.pdf">[syllabus]</a> </li> 
<li> Instructor (with Zhiguang Huo, Li Zhu and George Tseng), BIOST2021: Special Studies in Bayesian Data Analysis, Fall 2016 <a href="/files/syllabus/160829 BDA Syllabus.pdf">[syllabus]</a> </li> 
<li> Instructor, BIOST2094: Statistical Computing in R, Spring 2015 <a href="/files/syllabus/BIOST2094_Spring2015_Syllabus_010615_revised.pdf">[syllabus]</a> </li>
</ul>